/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Abhaya Libre', serif;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color: #48555B;
	oversize-x: hidden;
	background-color: #f2f2f2;

}

header, main {
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1438px;
}

.header__flex {
	background: url(../img/bg.png) no-repeat center center;
	background-size: cover;
	min-height: 755px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.header__logo {
	padding-top: 27px;
}

.logo-link {
	display: inline-block;
}

.header__heading {
	font-family: 'Abhaya Libre', serif;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 5.7px;
	padding-top: 82px;
	padding-left: 15px;
}

.header__text {
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	padding-left: 1px;
}

.header__button, .header__button:visited {
	background: none;
	border: none;
	font-weight: 600;
	font-size: 11px;
	color: #fff;
	margin-bottom: 72px;
	padding-left: 4px;
	letter-spacing: 3.7px;
	cursor: pointer;
	box-sizing: border-box;
}

.header__button:hover {
	font-size: 14px;
	margin-bottom: 69px;
	transition: 0.1s;
}

.main-wrapper {
	background-color: #fff;
	padding-top: 13px;
}

nav {
	margin: 0 auto;
	
	
	display: flex;
	padding: 18px 0 19px 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.nav__logo {
	flex-basis: 40%;
	text-align: center;
	padding-top: 5px;
}

.nav-wrapper {
	flex-basis: 60%;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-right: 0px;
}

.nav__menu {
	display: flex;
	justify-content: space-evenly;
	padding-right: 43px;
	letter-spacing: 1px;
}

.nav__link {
	padding-top: 8px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: 600;
	font-size: 12px;
}

.nav__link:nth-child(2) {
	padding-left: 29px;
	padding-right: 11px;
}

.nav__link:nth-child(3) {
	padding-left: 31px;
	padding-right: 9px;
}

.nav__link:nth-child(4) {
	padding-left: 31px;
	padding-right: 9px;
}


.menu_link:link, .menu_link:visited {
	text-decoration: none;
	color: #48555B;
}

.menu_link:hover {
	color: #00A4E5;
	text-shadow: 0 0 1px #00A4E5;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.main-story {
	max-width: 941px;
	min-height: 344px;
	padding-top: 60px;
}

.main-heading-container {
	background: url(../img/Line.svg) no-repeat center bottom;
	padding-bottom: 15px;
	padding-left: 5px;
	text-align: center;
}

.main-heading {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2.31px;
}

.main-story-flex {
	display: flex;
	margin-top: 45px;
	justify-content: space-between;
	padding-right: 0px;
}

.main-story__text {

flex-basis: 44%;

line-height: 1.35;

margin-right: 0px;
}

.main-story__bold {
	font-weight: 700;
	font-size: 20px;
	padding: 8px 10px 10px 0px;
	letter-spacing: 0.2px;
}

.main-story__regular-container {
	padding: 21px 10px 3px 0px;
}

.main-regular {
	font-weight: 400;
	font-size: 13px;	
	line-height: 1.8;
	letter-spacing: 0.19px;
}

.main__list {
	text-decoration: none;
	display: flex;
	align-items: flex-end;
}

.main__item {
	width: 140px;
	height: 226px;
	margin-left: 20px;
}

.main__wrap {
	position: relative;
}

.main__item-text {
	position: absolute;
	top: 0;
	font-weight: 800;
	font-size: 24px;
	color: #fff;
	line-height: 1.26;
	letter-spacing: 0.19px;
	padding-left: 15px;
	padding-top: 14px;
	padding-right: 13px;
}

						/*main-capabilities*/

.main-capabilities {
	padding-top: 117px;
	padding-bottom: 116px;
}

.capabilities__flex {
	display: flex;
}

.capabilities__h1-container {
    flex-basis: 40%;
    padding-left: 207px;
    background: url(../img/Line.svg) no-repeat 206px 33px;
}

.main-heading {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.31px;
}

.h1-container-text {
    flex-basis: 31%;
    padding-top: 0px;
    padding-left: 19px;
    letter-spacing: 0.2px;
    line-height: 1.8;
}

.button-service-container {
    flex-basis: 13%;
    margin-left: 36px;
}

.button-service, .button-service:visited {
    background-color: #00A4E5;
    border: none;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    padding: 13px 29px;
    text-align: right;
}

.main-enumeration {
	padding-top: 75px;
}

.enumeration-flex {
  text-decoration: none;
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  justify-content: space-between;
}

.enumeration-unit {
	max-width: 295px;
	border: 1px solid #e6e6e6;
	padding: 37px 16px 37px 23px;
}

.enumeration-h2 {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.43px;
	line-height: 1.5;
	padding-top: 23px;
	padding-bottom: 14px;
}

														/*main-touch*/

.main-touch {
	background: url(../img/bg-city.png) no-repeat center center;
	background-size: cover;
	width: 100%;
	min-height: 499px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-touch-h1-container {
	padding-bottom: 34px;
	width: 30em;
	text-align: center;
}

.main-touch-h1 {
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0.15px;
	line-height: 1.2;
}

.touch-button-service-container {
	padding-bottom: 115px;
}

														/* footer*/

.footer-wrapper {
	max-width: 100%;
	background-color: #171819;
}

													/* footer-top*/

.footer-top {
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-top-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 47.5%;
}

.footer-top-h1-container {padding-top: 0px;}

.footer-top-h1 {
	font-weight: 700;
	font-size: 22px;
	letter-spacing: 0.85px;
	color: #fff;
}

.footer-top-service {
	display: flex;
	flex-basis: 58%;
	align-items: start;
}

input {
	font-size: 14px;
	letter-spacing: 0.07px;
	border: 1px solid #171819;
	padding: 9px 15px;
	width: 100%;
	max-width: 250px;
	min-height: 42px;
	margin-bottom: 2px;
	
}

.button-service-footer {
	background-color: #00A4E5;
	border: none;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #fff;
	cursor: pointer;
	box-sizing: border-box;
	padding: 13px 47px;
	text-align: right;
	margin-top: 1px;
}

																/* footer-middle*/


.footer-middle {
	background-color: #141a20;
	min-height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.footer-middle-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 8px;
 padding-right: 26px;
 flex-basis: 65.55%;
}

.middle-company {
	flex-basis: 26.9%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
	height: 14em;
}

.middle-links-content {
	display: flex;
	justify-content: space-evenly;
}

.middle-home {
	padding-left: 24px;
}

.middle-link {
	
letter-spacing: 0.85px;
	
color: #fff;
}

.middle-h3-container {
	padding-bottom: 3px;
}

.middle-h3-container2 {
	padding-bottom: 6px;
	padding-left: 63px;
	line-height: 1.5;
}

.middle-h3 {
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
}

.company-text {
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.8px;
	line-height: 1.8;
}

.middle-links {
	flex-basis: 40%;
	line-height: 2.3;
}

.middle-contact {
	font-size: 11px;
	font-weight: 400;
	flex-basis: 18%;
	line-height: 2.5;
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
	height: 15em;
}

.contact-text2 {
	line-height: 2.2;
	padding-bottom: 13px;
}

.middle-social {
  flex-basis: 10%;
  padding-bottom: 81px;
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-link {
	color: #fff;
	display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-facebook {
	background-image: url(../img/fb.png);
}

.social-twitter {
	background-image: url(../img/twitter.png);
}

.social-google {
	background-image: url(../img/Bitmap.png);
	background-size: 15px;
}


																			/* footer-bottom*/

.footer-bottom {
	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-text {
	color: #fff;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	padding-left: 12px;
	padding-bottom: 8px;
}